{% extends "groups/groups_base.html" %}
{% block content %}
        <form method="POST" class='form-horizontal'> 
                 {{ form.as_p}}
        <input type="submit" id="new_group" value="OK">
                {% csrf_token %}
        </form>
        <h1>Subject: {{ subject.name }}</h1>
        {% if subjects %}
        <table id="id_list_table"  class="table table-striped">
        <caption>Subjects</caption>
                  <tr><th>Subject</th><th>Type</th><th>Abrev</th></tr>
                 {% regroup subjects by course as course_list %}
                 {% for course in course_list %}
		    <th colspan="3">{{course.grouper}}</th>
		    {% for Subject in course.list %}
			<tr><td>{{ Subject.name }}</td><td>{{ Subject.stype }}</td><td>{{Subject.abv}}</td></tr>
                    {% endfor %}
                {% endfor %}
        </table>
        {% else %}
        <p>No subjects</p>
        {% endif %}
{% endblock %}