{% extends "tmt_base.html" %}
{% block content %}
        <h1>Timetable for grouping: {{ grouping.name }}</h1>
        <table id="id_timetable_table" border="1">
         <tr>
            <td>Hour</td>
            {% for i in hours %}
            <td>{{ i|add:"1" }}</td>
            {% endfor %}
         </tr>
         {% for h in matrix %}
         <tr>
            <td>H</td>
            {% for d in h %}
            <td>{{ d }}</td>
            {% endfor %}
         </tr>
         {% endfor %}
        </table>
        
        <h1>Timetable</h1>
        <table id="id_list_table">
                 {% for time in timetable %}
                    <tr><th>Day</th><th>Hour</th><th>Grouping</th><th>Subject</th></tr>
                     <tr><td>{{ time.day }}</td><td>{{ time.hour }}</td><td>{{ time.grouping }}</td><td>{{ time.subject }}</td></tr>
                {% endfor %}
        </table>
        
        
{% endblock %}