{% extends "timetable/tmt_base.html" %}
{% block head %}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
    function addsession(day,hour){
        $.ajax({
        type: "POST",
        url: "{% url 'timetableajax' %}", 
        data: {'day': day, 'hour': hour, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success : function(data) {
             $('#ajaxform').html(data);
             document.getElementById('ajaxpopup').style.display='block';
             document.getElementById('fade').style.display='block';
             $('html, body').animate({ scrollTop: 0 }, 0);
	    }
	});
    }
    function close(){
	document.getElementById('ajaxpopup').style.display='none';
        document.getElementById('fade').style.display='none';
    }
</script>
    <style>
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 55%;
        padding: 16px;
        border: 16px solid gray;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
</style>
{% endblock%}
{% block content %}
{% csrf_token %}
         <p>I don't know how to set hours name properly. I'm using forloop.counter, but I would like to selec the names from the database</p>
         <p>{% for k in h.0 %}{{k.hour}}{% endfor %} does not work either if the first h element is null. Also if any row is empty it doesn't
         display it's hour</p>
        <table id="id_timetable_table"  class="table table-striped table-bordered">
         <tr>
            <td   style="width: 5%">Hour</td>
            {% for d in days %}
            <th  style="width: 10%">{{ d }}</th>
            {% endfor %}
         </tr>
         {% for h in tt %}
         <tr>
            <td> {% for k in h.0 %}{{k.hour}}{% endfor %}</td>
            {% for d in h %}
            <td>{% for s in d %}<b>{{ s.subject }}</b>{% endfor %}<br /><input type="button" class="btn btn-primary btn-xs" value="+" onclick="addsession('{{d.0.day}}','{{d.0.hour}}')" /></td>
            {% endfor %}
         </tr>
         {% endfor %}
        </table>
        
        <h1>Timetable</h1>
        <table id="id_list_table"  class="table table-striped">
        <tr><th>Day</th><th>Hour</th><th>Grouping</th><th>Subject</th><th>Teacher</th></tr>
                 {% for time in timetable %}
                     <tr><td>{{ time.day }}</td><td>{{ time.hour }}</td><td>{{ time.grouping }}</td><td>{{ time.subject }}</td><td>{{ time.teacher }}</td></tr>
                {% endfor %}
        </table>
        
<h1>Does not work if received timetable is not full...</h1>
<h2>What have to be done to skip certain hours if there is not assignement</h2>
        <h1>Timetable for grouping: {{ grouping.name }}</h1>
        {% regroup timetable|dictsort:"hour" by hour as hours_list %}
        <table id="id_timetable_table"  class="table table-striped table-bordered">
        <tr><th>Hour</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th></tr>
         {% for hour in hours_list %}
         <tr>
        <td>{{ hour.grouper }}</td>
        {% for dayhour in hour.list %}
        <td><b>{{ dayhour.subject.abv }}</b><br /><i>{{ dayhour.teacher}}</i></td>
        {% endfor %}
        </tr>
         {% endfor %}
         </table>
        
        
        <div id='ajaxpopup' class='white_content'>
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">Panel title</h3>
	    </div>
	    <div class="panel-body">
	      <div id='ajaxform'></div>
		<button class="btn btn-default" onclick="document.getElementById('ajaxpopup').style.display='none';document.getElementById('fade').style.display='none';">Close</button>
	      </div>
	    </div>
	  </div>
        <div id='fade' class='black_overlay'></div>
{% endblock %}