<!DOCTYPE html>
<html>
    <head>
        <title>School QMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://getbootstrap.com/examples/starter-template/starter-template.css">
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">School QMS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'qms' %}">Home</a></li>
                <li><a href="{% url 'processes' %}">Processes</a></li>
                <li><a href="{% url 'procedures' %}">Procedures</a></li>
                <li id="drop1" class="dropdown">
                    <a href="{% url 'documents' %}" class="dropdown-toggle" data-toggle="dropdown">Documents<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu"  aria-labelledby="drop1">
                         <li role="presentation"><a  role="menuitem" tabindex="-1" href="{% url 'documents' %}">List</a></li>
                         <li role="presentation"><a  role="menuitem" tabindex="-1" href="{% url 'add_document' %}">Add</a></li>
                         <li role="presentation"><a  role="menuitem" tabindex="-1" href="{% url 'revisions' %}">Revisions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Configuration <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{% url 'agents' %}">Agents</a></li>
                        <li><a href="{% url 'times' %}">Times</a></li>
                        <li><a href="{% url 'activity' %}">Activities</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Trash</a></li>
                    </ul>
                </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
         {% block content %}{% endblock %}
      </div>

    </div><!-- /.container -->
<div class="footer">
<img src="../../media/logo.jpg" width=10%>
</div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
