{% extends "base_qms.html" %}
{% block content %}
        <h1>Document List</h1>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch filter dialog
</button>
        <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Filter Documents</h4>
            </div>
            <div class="modal-body">
                <form method="POST">
        <label for="owners">Owners:</label><br />
            {% for owner in owners %}
                <input type="checkbox" class="form-control" name="owners"  value="{{owner.pk}}">{{owner}}
            {% endfor %}
            <br />
             <label for="times">Times:</label><br />
            {% for time in times %}
                <input type="checkbox" class="form-control" name="times"  value="{{time.pk}}">{{time}}
            {% endfor %}
                                            <div class="row">
                <br />
                        <label for="owners">Recipients:</label><br />
            {% for owner in owners %}
                <input type="checkbox" name="recipients" class="form-control" value="{{owner.pk}}">{{owner}}
            {% endfor %}
            <br />
                 <input type="submit" class="btn btn-primary" id="filter_documents" value="Filter Documents">
              </div>
                {% csrf_token %}
        </form>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary  active" role="button">Reset</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
        <table id="id_list_table" class="table">
            <tr>
                <th>Procedure</th>
                <th>Document</th>
                <th>Aprovation date</th>
            </tr>
             {% for document in documents %}
                <tr>
                    <td>{{ document.procedure }}</td>
                    <td><a href="{% url 'document' document.id %}">{{ document.name }}</a></td>
                    <td> {{ document.aprobation_date }}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}