{% extends "base.html" %}
{% block content %}
        <h1>Procedures</h1>
        <form method="POST">
           {{ form.as_p }}
           <input type="submit" id="add_procedure" value="OK">
                {% csrf_token %}
        </form>
        <table id="id_list_table" class="table">
                 {% for procedure in procedures %}
                    <tr><td><a href="{% url 'procedure' procedure.pk %}">{{ procedure.name }}</a></td></tr>
                {% endfor %}
        </table>
{% endblock %}