{% extends "groups/groups_base.html" %}
{% block content %}
        <h1>Course: {{ course.name }}</h1>
        {% if groups %}
         <h1>Groups</h1>
         <table id="id_group_table"  class="table table-striped">
                 {% for group in groups %}
                    <tr><td>{{ group.name }}</td><td>{{ group.students.all.count }}</td><td><a href="{% url 'group' group.id %}">View</a></td></tr>
                {% endfor %}
        </table>
        {% else %}
        <p>No groups in this course</p>
        {% endif %}
        {% if groupings %}
        <h1>Groupings</h1>
        <table id="id_groupings_table"  class="table table-striped">
                 {% for grouping in groupings %}
                    <tr><td>{{ grouping.name }}</td><td>{{ grouping.students.all.count }}</td><td><a href="{% url 'grouping' grouping.id %}">View</a></td></tr>
                {% endfor %}
        </table>
        {% else %}
        <p>No groupings in this course</p>
        {% endif %}
        {% if students %}
        <table id="id_list_table"  class="table table-striped">
        <caption>Students in this course</caption>
                  <tr><th>pic</th><th>Student</th><th>Group</th><th>Groupings</th></tr>
                 {% for student in students %}
                    <tr>
                     <td><img src="{{ student.picture_url|default_if_none:'#' }}" class="img-rounded" height="42" width="42"></td>
                     <td>{{ student.name }} {{ student.last_name_1 }} {{ student.last_name_2 }}</td>
                     <td>{{ student.group_set.0 }}</td>
                      <td>{% for sg in  student.grouping_set.all %} {{ sg }} / {% endfor %} </td>
                    </tr>
                {% endfor %}
        </table>
        {% else %}
        <p>No students in this course</p>
        {% endif %}
{% endblock %}