{% extends "base_cf.html" %}
{% block content %}
        <h1>Questions</h1>
        <form method="POST">
            {{ form.as_p }}
                {% csrf_token %}
            <input type="submit" id="new_question" value="OK">
        </form>
        {% if questions %}
        <table id="id_list_table">
                  <tr><th>Name</th><th>Type</th></tr>
                 {% for question in questions %}
                    <tr><td>{{ question.question }}</td><td>{{ question.qtype }}</td></tr>
                {% endfor %}
        </table>
        {% else %}
        <p>No questions</p>
        {% endif %}
{% endblock %}