<html>
    <head>
        <title>Students Manager</title>
    </head>
    <body>
    <a href="{% url 'students' %}">Students</a>
    <a href="{% url 'groups' %}">Groups</a>
        <h1>Groups</h1>
        <form method="POST">
            <input name="group_name" id="id_new_group" placeholder="Enter a group" />
                {% csrf_token %}
        </form>
        <table id="id_list_table">
                 {% for group in groups %}
                    <tr><td>{{ group.name }}</td></tr>
                {% endfor %}
        </table>
    </body>
</html>