{% extends "orgperson/sm_base.html" %}
{% block content %}
        <h1>Add Staff</h1>
             <form method="POST" enctype="multipart/form-data" class="form-horizontal col-md-7 col-md-offset-3  panel panel-default">
                <div class="form-group">
                    <label  class="col-md-2 control-label" for="{{form.code.id_for_name}}">Name:</label>
                    {{form.name}}
                </div>
                <div class="form-group">
                    <label  class="col-md-2 control-label" for="{{form.code.id_for_last_name_1}}">Last name 1:</label>
                    {{form.last_name_1}}
                </div>                
                <div class="form-group">
                    <label  class="col-md-2 control-label" for="{{form.code.id_for_last_name_2}}">Last name 2:</label>
                    {{form.last_name_2}}
                </div>                          
                <div class="form-group">
                    <label  class="col-md-2 control-label" for="{{form.code.id_for_uniquename}}">Uniquename:</label>
                    {{form.uniquename}}
                </div>
                <div class="form-group">
                    <label  class="col-md-2 control-label" for="{{form.code.id_for_educacode}}">Educacode:</label>
                    {{form.educacode}}
                </div>                
                <div class="form-group">
                    <label  class="col-md-2 control-label" for="{{form.code.id_for_picture}}">Picture:</label>
                    {{form.picture}}
                </div>       
                <div class="form-group">
                    <label  class="col-md-2 control-label" for="{{form.code.id_for_email}}">Email:</label>
                    {{form.email}}
                </div>                
                <div class="form-group">
                    <label  class="col-md-2 control-label" for="{{form.code.id_for_gender}}">Gender:</label>
                    {{form.gender}}
                </div>                    
                 <div class="form-group">
                    <label  class="col-md-2 control-label" for="{{form.code.id_for_stype}}">Type:</label>
                    {{form.stype}}
                </div>        
                 <input type="submit" name="add_staff" value="OK">
                {% csrf_token %}
             </form>
        <form method="POST" class="col-md-12">
        <h1>Staff Members</h1>
        <table id="id_list_table">
                 {% for staff in staffs %}
                    <tr>
                        <td><input type="checkbox" name="staff"  value="{{ staff.id }}"></td>
                        <td><img src="{{ staff.picture_url|default_if_none:'#' }}" height="42" width="42"></td>
                        <td> {{ staff.last_name_1 }} {{staff.last_name_2}}, {{staff.name }}</td>
                        <td>{{ staff.gender }}</td></tr>
                {% endfor %}
        </table>
             <input type="submit" id="students_group" value="OK">
            {% csrf_token %}
        <form>
{% endblock %}